{% extends "base.html" %}
{% block title %}FMS - Login{% endblock %}

{% block main_content %}
<div class="header">
    <h4 class="title">Login</h4>
</div>
<div class="content row">
  <form class="col-md-4" action="{{ url_for('auth.login') }}" method="post">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          {{ form.email(placeholder='Email Address (yourname@email.com)', class_='form-control border-input') }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          {{ form.password(placeholder='Password', class_='form-control border-input')}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group text-left">
          <label>
            {{ form.remember_me }} Remember me?
          </label>    
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-right">
          {{ form.submit(class_='btn btn-info btn-fill btn-wd') }}
        </div>
      </div>
    </div>
    {{ form.csrf_token }}
  </form>
</div>
{% endblock %}