{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}

{% block body %}
  {% block navlinks %}
  <ul class="nav nav-tabs">
    <li>
        <a href="{{ return_url }}">{{ _gettext('List') }}</a>
    </li>
    {%- if admin_view.can_create -%}
    <li>
        <a href="{{ get_url('.create_view', url=return_url) }}">{{ _gettext('Create') }}</a>
    </li>
    {%- endif -%}
    {%- if admin_view.can_edit -%}
    <li>
        <a href="{{ get_url('.edit_view', id=request.args.get('id'), url=return_url) }}">{{ _gettext('Edit') }}</a>
    </li>
    {%- endif -%}
    <li class="active">
        <a href="javascript:void(0)">{{ _gettext('Details') }}</a>
    </li>
  </ul>
  {% endblock %}

  <div class="row">

  {% block details_search %}
    <br>
    <div class="col-sm-12">
      <div class="input-group fa_filter_container col-lg-6">
        <span class="input-group-addon">{{ _gettext('Filter') }}</span>
        <input id="fa_filter" type="text" class="form-control">
      </div>
    </div>
  {% endblock %}

  </div>

  <div class="row">

  {% block details_table %}
    <br>
    <div class="col-sm-12">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#employee_information" data-toggle="tab">
            Employee Information
          </a>
        </li>
        <li>
          <a href="#assignment_information" data-toggle="tab">
            Vehicle Assignments
          </a>
        </li>
      </ul>
    </div>

    <div class="tab-content">
      <div class="tab-pane active" id="employee_information">
        <div class="col-sm-6">
          <br>
          <table class="table table-hover table-bordered table-striped table-condensed searchable">
            <tr>
              <th colspan="2" class="info">Employee Information</th>
            </tr>
            <tr>
              <td class="col-md-3 text-right">Employee No.</td>
              <td>{{ model.employee_no }}</td>
            </tr>
            <tr>
              <td class="col-md-3 text-right">First Name</td>
              <td>{{ model.first_name }}</td>
            </tr>
            <tr>
              <td class="col-md-3 text-right">Middle Name</td>
              <td>{{ model.middle_name }}</td>
            </tr>
            <tr>
              <td class="col-md-3 text-right">Last Name</td>
              <td>{{ model.last_name }}</td>
            </tr>
            <tr>
              <td class="col-md-3 text-right">Contact Numbers</td>
              <td>
                <ul>
                {% for number in model.contact_numbers %}
                  <li>{{ number.number }}</li>
                {% endfor %}
                </ul>
              </td>
            </tr>
            <tr>
              <td class="col-md-3 text-right">Designated Drivers</td>
              <td>
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Relationship</th>
                              <th>License Number</th>
                              <th>Honda Certification</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for driver in model.designated_drivers %}
                          <tr>
                              <td>{{ driver.name }}</td>
                              <td>{{ driver.relation }}</td>
                              <td>{{ driver.license_no }}</td>
                              <td>{{ driver.honda_certification }}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </td>
            </tr>
            <tr>
              <td class="col-md-3 text-right">Email</td>
              <td>{{ model.email }}</td>
            </tr>
            <tr>
              <td class="col-md-3 text-right">Gender</td>
              <td>{{ model.gender }}</td>
            </tr>
            <tr>
              <th colspan="2" class="info">License Information</th>
            </tr>
            <tr>
              <td class="col-md-3 text-right">License No.</td>
              <td>{{ model.license_no }}</td>
            </tr>
            <tr>
              <td class="col-md-3 text-right">Date Issued</td>
              <td>{{ model.date_issued }}</td>
            </tr>
            <tr>
              <td class="col-md-3 text-right">License Expiry</td>
              <td>{{ model.license_expiry }}</td>
            </tr>
            <tr>
              <td class="col-md-3 text-right">License Type</td>
              <td>{{ model.license_type }}</td>
            </tr>
          </table>
        </div>
        <div class="col-sm-6">
          <br>
          <table class="table table-hover table-bordered table-striped searchable table-condensed">
            <tr>
              <th colspan="2" class="info">
                Employment Information
              </th>
            </tr>
            <tr>
              <td class="col-md-3 text-right">Date of Hire</td>
              <td>{{ model.doh|date_format }}</td>
            </tr>
            <tr>
              <td class="col-md-3 text-right">Entity</td>
              <td>{{ model.entity.name }}</td>
            </tr>
            <tr>
              <td class="col-md-3 text-right">SBU</td>
              <td>{{ model.SBU.name }}</td>
            </tr>
            <tr>
              <td class="col-md-3 text-right">BU</td>
              <td>{{ model.BU.name }}</td>
            </tr>
            <tr>
              <td class="col-md-3 text-right">Cost Center</td>
              <td>{{ model.cost_center.name }}</td>
            </tr>
            <tr>
              <td class="col-md-3 text-right">Classification Code</td>
              <td>{{ model.classification_code.name }}</td>
            </tr>
            <tr>
              <td class="col-md-3 text-right">Classification</td>
              <td>{{ model.classification.name }}</td>
            </tr>
            <tr>
              <td class="col-md-3 text-right">Department</td>
              <td>{{ model.department.name }}</td>
            </tr>
            <tr>
              <td class="col-md-3 text-right">Location</td>
              <td>{{ model.location.name }}</td>
            </tr>
            <tr>
              <td class="col-md-3 text-right">Position</td>
              <td>{{ model.position.name }}</td>
            </tr>
            <tr>
              <td class="col-md-3 text-right">FB/TOT</td>
              <td>{{ model.tot.name }}</td>
            </tr>
            <tr>
              <td class="col-md-3 text-right">Remarks</td>
              <td>{{ model.remarks }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="tab-pane" id="assignment_information">
        <div class="col-sm-12">
          <br>
          <table class="table table-hover table-bordered table-striped searchable table-condensed">
            <tr class="info">
              <th>Vehicle</th>
            </tr>
            {% for vehicle in model.vehicles %}
            <tr>
              <td>
                <a target="_blank" href="{{ url_for('vehicles.details_view', id=vehicle.id) }}">
                  {{ vehicle }}
                </a>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  {% endblock %}

  </div>
{% endblock %}

{% block tail %}
  {{ super() }}
  <script src="{{ admin_static.url(filename='admin/js/details_filter.js', v='1.0.0') }}"></script>
{% endblock %}
