{% extends 'admin/master.html' %}
{% block body %}
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#first_pm" data-toggle="tab">
            First PM
          </a>
        </li>
        <li>
          <a href="#second_pm" data-toggle="tab">
              Second PM
          </a>
        </li>
        <li>
          <a href="#lto_reg" data-toggle="tab">
              LTO Registration
          </a>
        </li>
        <li>
          <a href="#battery" data-toggle="tab">
            Battery Replacement
          </a>
        </li>
        <li>
          <a href="#primary_lease" data-toggle="tab">
            Primary Lease Expiration
          </a>
        </li>
        <li>
          <a href="#secondary_lease" data-toggle="tab">
            Secondary Lease Expiration
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="tab-pane active" id="first_pm">
        <br>
        <div class="col-sm-12">
          <h3>Vehicles Due for First PM</h3>
          <table class="table table-bordered table-condensed table-hover">
            <thead>
              <tr class="info">
                <th>Vehicle</th>
                <th>Primary Assignee</th>
                <th>Notification Date</th>
                <th>Lease Start and End</th>
              </tr>
            </thead>
            <tbody>
              {% for vehicle in first_pms %}
              <tr>
                <td>{{ vehicle }}</td>
                <td>{{ vehicle.primary_assignee }}</td>
                <td>{{ vehicle.notifications['first_pm_due']|date_format }}</td>
                <td>
                  <ul>
                    <li>Start: {{ vehicle.notifications['start']|date_format }}</li>
                    <li>End: {{ vehicle.notifications['end']|date_format }}</li>
                  </ul>
                </td>
              </tr>
              {% else %}
              <tr>
                  <td colspan="4" class="text-center">No Notifications for this Month</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane" id="second_pm">
        <br>
        <div class="col-sm-12">
          <h3>Vehicles Due for Second PM</h3>
          <table class="table table-bordered table-condensed table-hover">
            <thead>
              <tr class="info">
                <th>Vehicle</th>
                <th>Primary Assignee</th>
                <th>Notification Date</th>
                <th>Lease Start and End</th>
                <th>PM Schedule</th>
              </tr>
            </thead>
            <tbody>
              {% for vehicle in second_pms %}
              <tr>
                <td>{{ vehicle }}</td>
                <td>{{ vehicle.primary_assignee }}</td>
                <td>{{ vehicle.notifications['second_pm_due']|date_format }}</td>
                <td>
                  <ul>
                    <li>Start: {{ vehicle.notifications['start']|date_format }}</li>
                    <li>End: {{ vehicle.notifications['end']|date_format }}</li>
                  </ul>
                </td>
                <td>
                  every {{ vehicle.pm_schedule['details'].interval }} months
                </td>
              </tr>
              {% else %}
              <tr>
                  <td colspan="4" class="text-center">No Notifications for this Month</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane" id="lto_reg">
        <br>
        <div class="col-sm-12">
          <h3>Vehicles Due for LTO Registration</h3>
          <table class="table table-bordered table-condensed table-hover">
            <thead>
              <tr class="info">
                <th>Vehicle</th>
                <th>Primary Assignee</th>
                <th>Registration Type</th>
                <th>Notification Date</th>
                <th>Lease Start and End</th>
              </tr>
            </thead>
            <tbody>
              {% for vehicle in lto_reg %}
              <tr>
                <td>{{ vehicle }}</td>
                <td>{{ vehicle.primary_assignee }}</td>
                <td>
                    {% if vehicle.notifications['lto_reg'].year < ytd %}
                         Annual Registration ( > 3 years)
                    {% else %}
                         First 3 Years
                    {% endif %}
                </td>
                <td>
                    {{ vehicle.notifications['lto_reg']|date_format }}
                </td>
                <td>
                  <ul>
                    <li>Start: {{ vehicle.notifications['start']|date_format }}</li>
                    <li>End: {{ vehicle.notifications['end']|date_format }}</li>
                  </ul>
                </td>
              </tr>
              {% else %}
              <tr>
                  <td colspan="4" class="text-center">No Notifications for this Month</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane" id="battery">
        <br>
        <div class="col-sm-12">
          <h3>Vehicles Due for Battery Replacement (2 years after Primary/Secondary Lease)</h3>
          <table class="table table-bordered table-condensed table-hover">
            <thead>
              <tr class="info">
                <th>Vehicle</th>
                <th>Primary Assignee</th>
                <th>Notification Date</th>
                <th>Lease Start and End</th>
              </tr>
            </thead>
            <tbody>
              {% for vehicle in battery %}
              <tr>
                <td>{{ vehicle }}</td>
                <td>{{ vehicle.primary_assignee }}</td>
                <td>
                    {{ vehicle.notifications['battery']|date_format }}
                </td>
                <td>
                  <ul>
                    <li>Start: {{ vehicle.notifications['start']|date_format }}</li>
                    <li>End: {{ vehicle.notifications['end']|date_format }}</li>
                  </ul>
                </td>
              </tr>
              {% else %}
              <tr>
                  <td colspan="4" class="text-center">No Notifications for this Month</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane" id="primary_lease">
        <br>
        <div class="col-sm-12">
          <h3>Vehicles with Primary Lease expiring</h3>
          <table class="table table-bordered table-condensed table-hover">
            <thead>
              <tr class="info">
                <th>Vehicle</th>
                <th>Primary Assignee</th>
                <th>Notification Date</th>
                <th>Lease Start and End</th>
              </tr>
            </thead>
            <tbody>
              {% for vehicle in primary_lease %}
              <tr>
                <td>{{ vehicle }}</td>
                <td>{{ vehicle.primary_assignee }}</td>
                <td>
                    {{ vehicle.notifications['primary_lease_expiration']|date_format }}
                </td>
                <td>
                  <ul>
                    <li>Start: {{ vehicle.notifications['start']|date_format }}</li>
                    <li>End: {{ vehicle.notifications['end']|date_format }}</li>
                  </ul>
                </td>
              </tr>
              {% else %}
              <tr>
                  <td colspan="4" class="text-center">No Notifications for this Month</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane" id="secondary_lease">
        <br>
        <div class="col-sm-12">
          <h3>Vehicles with Secondary Lease expiring</h3>
          <table class="table table-bordered table-condensed table-hover">
            <thead>
              <tr class="info">
                <th>Vehicle</th>
                <th>Primary Assignee</th>
                <th>Notification Date</th>
                <th>Lease Start and End</th>
              </tr>
            </thead>
            <tbody>
              {% for vehicle in secondary_lease %}
              <tr>
                <td>{{ vehicle }}</td>
                <td>{{ vehicle.primary_assignee }}</td>
                <td>
                    {{ vehicle.notifications['secondary_lease_expiration']|date_format }}
                </td>
                <td>
                  <ul>
                    <li>Start: {{ vehicle.secondary_lease_contract_start|date_format }}</li>
                    <li>End: {{ vehicle.secondary_lease_contract_end|date_format }}</li>
                  </ul>
                </td>
              </tr>
              {% else %}
              <tr>
                  <td colspan="4" class="text-center">No Notifications for this Month</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
