{% extends 'admin/master.html' %}

{% block body %}
  <div class="row">


    <div class="tab-pane active" id="notifications">

        <div class="col-sm-3">
          <br>
          <table class="table table-hover table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th colspan="2" class="text-center">First PM</th>
              </tr>
            </thead>
            {% for month in months_sorted %}
              {% for vehicle in first_pm[month] %}
              {% if loop.index == 1 %}
              <tr>
                <td colspan="2"><strong>{{ month }}</strong></td>
              </tr>
              {% endif %}
              <tr>
                <td>
                  <a target="_blank" href="{{ url_for('vehicles.details_view', id=vehicle.id) }}">
                  [{{ vehicle.plate_no }}] ({{ vehicle.cs_no }})
                </td>
                <td>
                  {{ vehicle.notifications['first_pm_due']|date_format }}
                </td>
              </tr>
              {% endfor %}
            {% endfor %}
          </table>
        </div>

        <div class="col-sm-3">
          <br>
          <table class="table table-hover table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th colspan="2" class="text-center">Succeeding PM (first reminder)</th>
              </tr>
            </thead>
            {% for month in months_sorted %}
              {% for vehicle in succeeding_pm_first[month] %}
              {% if loop.index == 1 %}
              <tr>
                <td colspan="2"><strong>{{ month }}</strong></td>
              </tr>
              {% endif %}
              <tr>
                <td>
                  <a target="_blank" href="{{ url_for('vehicles.details_view', id=vehicle.id) }}">
                  [{{ vehicle.plate_no }}] ({{ vehicle.cs_no }})
                </td>
                <td>
                  {{ vehicle.pms['first_pm']|date_format }}
                </td>
              </tr>
              {% endfor %}
            {% endfor %}
          </table>
        </div>

        <div class="col-sm-3">
          <br>
          <table class="table table-hover table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th colspan="2" class="text-center">Succeeding PM (second reminder)</th>
              </tr>
            </thead>
            {% for month in months_sorted %}
              {% for vehicle in succeeding_pm_second[month] %}
              {% if loop.index == 1 %}
              <tr>
                <td colspan="2"><strong>{{ month }}</strong></td>
              </tr>
              {% endif %}
              <tr>
                <td>
                  <a target="_blank" href="{{ url_for('vehicles.details_view', id=vehicle.id) }}">
                  [{{ vehicle.plate_no }}] ({{ vehicle.cs_no }})
                </td>
                <td>
                  {{ vehicle.pms['second_pm']|date_format }}
                </td>
              </tr>
              {% endfor %}
            {% endfor %}
          </table>
        </div>

        <div class="col-sm-3">
          <br>
          <table class="table table-hover table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th colspan="2" class="text-center">Succeeding PM (third reminder)</th>
              </tr>
            </thead>
            {% for month in months_sorted %}
              {% for vehicle in succeeding_pm_third[month] %}
              {% if loop.index == 1 %}
              <tr>
                <td colspan="2"><strong>{{ month }}</strong></td>
              </tr>
              {% endif %}
              <tr>
                <td>
                  <a target="_blank" href="{{ url_for('vehicles.details_view', id=vehicle.id) }}">
                  [{{ vehicle.plate_no }}] ({{ vehicle.cs_no }})
                </td>
                <td>
                  {{ vehicle.pms['third_pm']|date_format }}
                </td>
              </tr>
              {% endfor %}
            {% endfor %}
          </table>
        </div>
    </div>


{% endblock %}
