{% extends 'admin/master.html' %}

{% block body %}
  <div class="row">


    <div class="tab-pane active" id="notifications">

      <div class="col-sm-3">
        <br>
        <table class="table table-hover table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th colspan="2" class="text-center">LTO Registration (First 3 years)</th>
            </tr>
          </thead>
          {% for month in months_sorted %}
            {% for vehicle in lto[month] %}
            {% if loop.index == 1 %}
            <tr>
              <td colspan="2"><strong>{{ month }}</strong></td>
            </tr>
            {% endif %}
            <tr>
              <td>
                <a target="_blank" href="{{ url_for('vehicles.details_view', id=vehicle.id) }}">
                {{ vehicle.plate_no }}
              </td>
              <td>
                {{ vehicle.notifications['lto_reg']|date_format }}
              </td>
            </tr>
            {% endfor %}
          {% endfor %}
        </table>
      </div>

      <div class="col-sm-3">
        <br>
        <table class="table table-hover table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th colspan="2" class="text-center">Battery Replacement</th>
            </tr>
          </thead>
          {% for month in months_sorted %}
            {% for vehicle in battery[month] %}
            {% if loop.index == 1 %}
            <tr>
              <td colspan="2"><strong>{{ month }}</strong></td>
            </tr>
            {% endif %}
            <tr>
              <td>
                <a target="_blank" href="{{ url_for('vehicles.details_view', id=vehicle.id) }}">
                [{{ vehicle.plate_no }}] ({{ vehicle.cs_no }})
              </td>
              <td>
                {{ vehicle.notifications['battery']|date_format }}
              </td>
            </tr>
            {% endfor %}
          {% endfor %}
        </table>
      </div>

      <div class="col-sm-3">
        <br>
        <table class="table table-hover table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th colspan="2" class="text-center">Primary Lease Expiration</th>
            </tr>
          </thead>
          {% for month in months_sorted %}
            {% for vehicle in primary_lease[month] %}
            {% if loop.index == 1 %}
            <tr>
              <td colspan="2"><strong>{{ month }}</strong></td>
            </tr>
            {% endif %}
            <tr>
              <td>
                <a target="_blank" href="{{ url_for('vehicles.details_view', id=vehicle.id) }}">
                [{{ vehicle.plate_no }}] ({{ vehicle.cs_no }})
              </td>
              <td>
                {{ vehicle.notifications['primary_lease_expiration']|date_format }}
              </td>
            </tr>
            {% endfor %}
          {% endfor %}
        </table>
      </div>

      <div class="col-sm-3">
        <br>
        <table class="table table-hover table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th colspan="2" class="text-center">Secondary Lease Expiration</th>
            </tr>
          </thead>
          {% for month in months_sorted %}
            {% for vehicle in secondary_lease[month] %}
            {% if loop.index == 1 %}
            <tr>
              <td colspan="2"><strong>{{ month }}</strong></td>
            </tr>
            {% endif %}
            <tr>
              <td>
                <a target="_blank" href="{{ url_for('vehicles.details_view', id=vehicle.id) }}">
                {{ vehicle }}
              </td>
              <td>
                {{ vehicle.notifications['secondary_lease_expiration']|date_format }}
              </td>
            </tr>
            {% endfor %}
          {% endfor %}
        </table>
      </div>
    </div>


{% endblock %}
