<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/styles.css') }}">

<style>
    * {
        font-size: 10px;
    }
    tr, td {
        padding: 0;
        margin: 0;
    }
    .text-right {
        font-weight: bold;
    }

    @page {
      size: Letter;
    }

</style>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <table class="table table-hover table-bordered table-striped table-condensed searchable">
      <tr>
        <th class="text-center" colspan="2">Incident Details
        </th>
      </tr>
      <tr>
        <td class="text-right">Fleet Incident ID</td>
        <td>{{ model.fleet_incident_id }}</td>
      </tr>
      <tr>
        <td class="text-right">Date</td>
        <td>{{ model.date|date_format }}</td>
      </tr>
      <tr>
        <td class="text-right">Location</td>
        <td>{{ model.location }}</td>
      </tr>
      <tr>
        <td class="text-right">Details</td>
        <td>{{ model.details }}</td>
      </tr>
      <tr>
        <td class="text-right">Accident Classification</td>
        <td>{{ model.accident_nature }}</td>
      </tr>
      <tr>
        <td class="text-right">Damaged Portion</td>
        <td>{{ model.damaged_portion }}</td>
      </tr>
      <tr>
        <td class="text-right">LOA</td>
        <td>{{ model.loa }}</td>
      </tr>
      <tr>
        <td class="text-right">Repair Shop</td>
        <td>{{ model.repair_shop }}</td>
      </tr>
      <tr>
        <td class="text-right">Repair Cost</td>
        <td>{{ model.repair_cost if model.repair_cost != None else '' }}</td>
      </tr>
      <tr>
        <td class="text-right">Claimable</td>
        <td>{{ model.is_claimable if model.is_claimable != None else '' }}</td>
      </tr>
      <tr>
        <td class="text-right">Remarks</td>
        <td>{{ model.remarks }}</td>
      </tr>
      <tr>
        <th class="text-center" colspan="2">Assignment</th>
      </tr>
      <tr>
        <td class="text-right">Employee</td>
        <td>{{ model.assignment.employee }}</td>
      </tr>
      <tr>
        <td class="text-right">Vehicle</td>
        <td>{{ model.assignment.vehicle }}</td>
      </tr>
      <tr>
        <td class="text-right">Designated Driver</td>
        <td>{{ model.designated_driver if model.designated_driver != None else '' }}</td>
      </tr>
      <tr>
        <th>&nbsp;</th>
      </tr>
      <tr>
        <td class="text-right">Created on</td>
        <td>{{ model.created_on|date_format }}</td>
      </tr>
      <tr>
        <td class="text-right">Updated on</td>
        <td>{{ model.updated_on|date_format }}</td>
      </tr>
    </table>
  </div>
</div>