{% extends 'admin/master.html' %}

{% block body %}
  <div class="row">
  <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#incident_summary" data-toggle="tab">
          Incidents Summary
        </a>
      </li>
    </ul>
    <div class="pull-right">
        <a target="_blank" href="{{ url_for('main.print_dashboard') }}" class="btn btn-primary">Print Reports</a>
    </div>
  </div>

  <div class="tab-content">

    <div class="tab-pane active" id="incident_summary">
      <br>
      <div class="col-sm-3">
        <br>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Vehicle Incidents</h3>
          </div>
          <div class="panel-body">
            <div id="vi_chart"></div>
            <table class="table table-bordered table-condensed table-hover">
              <thead>
                <tr>
                  <th>Month</th>
                  {% for year in years %}
                  <th class="text-center">{{ year }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for month in months_sorted %}
                <tr>
                  <td>{{ month }}</td>
                  {% for year in years %}
                  <td class="text-right">{{ vehicle_incidents[year][month] }}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <br>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Nature / Type of Accidents</h3>
          </div>
          <div class="panel-body">
            <div id="an_chart"></div>
            <table class="table table-bordered table-condensed table-hover">
              <thead>
                <tr>
                  <th>{{ ytd }} Accidents</th>
                  <th class="text-center">TOTAL</th>
                </tr>
              </thead>
              <tbody>
                {% for key, value in by_nature.items() %}
                <tr>
                  <td>{{ key }}</td>
                  <td class="text-right">{{ value }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <br>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Accidents per SBU</h3>
          </div>
          <div class="panel-body">
            <div id="bu_chart"></div>
            <table class="table table-bordered table-condensed table-hover">
              <thead>
                <tr>
                  <th>{{ ytd }} Accidents per SBU</th>
                  <th class="text-center">TOTAL</th>
                </tr>
              </thead>
              <tbody>
                {% for key, value in per_sbu.items() %}
                <tr>
                  <td>{{ key }}</td>
                  <td class="text-right">{{ value }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <br>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Acquired and Disposed Vehicles</h3>
          </div>
          <div class="panel-body">
            <div id="ac_chart"></div>
            <table class="table table-bordered table-condensed table-hover">
              <thead>
                <tr>
                  <th>Year</th>
                  <th>Acquired</th>
                  <th>Disposed</th>
                </tr>
              </thead>
              <tbody>
                {% for year in acquired_disposed %}
                <tr>
                  <td>{{ year[0] }}</td>
                  <td>{{ year[1].acquired }}</td>
                  <td>{{ year[1].disposed }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block tail_js %}
  {{ super() }}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

          // Create the data table.
          var sbu_data = new google.visualization.DataTable();
          sbu_data.addColumn('string', 'BU');
          sbu_data.addColumn('number', 'Accidents');
          sbu_data.addRows([
            {% for key, value in per_sbu.items() %}
            ['{{ key }}', {{ value }}],
            {% endfor %}
          ]);

          var an_data = new google.visualization.DataTable();
          an_data.addColumn('string', 'Accident Nature');
          an_data.addColumn('number', 'Accidents')
          an_data.addRows([
            {% for key, value in by_nature.items() %}
            ['{{ key }}', {{ value }}],
            {% endfor %}
          ]);


          var vi_data = new google.visualization.DataTable();
          vi_data.addColumn('string', 'Month');
          {% for year in years %}
          vi_data.addColumn('number', '{{ year }}');
          {% endfor %}

          vi_data.addRows([
            {% for month in months_sorted %}
              ['{{ month }}',
              {% for year in years %}
                {{ vehicle_incidents[year][month] }},
              {% endfor %}
              ],
            {% endfor %}
          ]);

          var ac_data = new google.visualization.DataTable();
          ac_data.addColumn('string', 'Year');
          ac_data.addColumn('number', 'Acquired');
          ac_data.addColumn('number', 'Disposed');

          ac_data.addRows([
            {% for year in acquired_disposed %}
            ['{{ year[0] }}', {{ year[1]['acquired'] }}, {{ year[1]['disposed'] }}],
            {% endfor %}
          ]);


          // Set chart options
          var options = {'title':'Accidents per SBU',
                         'width':500,
                         'height':400};

          var an_options = {'title': 'Accidents by Nature',
                            'width': 500, 'height': 600,
                            'hAxis': {
                              'textPosition': 'none'
                            },
                            'legend': {
                              'position': 'none'
                            }}

          var vi_options = {
            'title': 'Vehicle Incidents',
            'width': 500,
            'height': 400,
            'hAxis': {
              'slantedText': true
            }
          }

          var ac_options = {
            'title': 'Vehicles Acquired / Disposed per Year',
            'width': 500,
            'height': 400
          }

          // Instantiate and draw our chart, passing in some options.
          var bu_chart = new google.visualization.PieChart(document.getElementById('bu_chart'));
          bu_chart.draw(sbu_data, options);

          var an_chart = new google.visualization.ColumnChart(document.getElementById('an_chart'));
          an_chart.draw(an_data, an_options);

          var vi_chart = new google.visualization.LineChart(document.getElementById('vi_chart'));
          vi_chart.draw(vi_data, vi_options);

          var ac_chart = new google.visualization.ColumnChart(document.getElementById('ac_chart'));
          ac_chart.draw(ac_data, ac_options);

        }
      </script>
{% endblock %}
