<div class="sidebar" data-background-color="white" data-active-color="danger">
{% set navigation_bar = [
    ('/', 'index', 'DASHBOARD'),
    ('/admin/', 'admin', 'ADMIN'),
] -%}
{% set active_page = active_page|default('index') -%}

    <!--
        Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
        Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    -->

  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="{{ url_for('main.index') }}" class="simple-text">
        <img src="{{ url_for('static', filename='dist/images/logo.png') }}" alt="">
      </a>
    </div>

    {% if current_user.is_authenticated %}

    <ul class="nav">
      {% for href, id, caption in navigation_bar %}
        <li {% if id == active_page %} class="active"{% endif %}>
          <a href="{{ href|e }}">
            <p>{{ caption|e }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>

    {% endif %}
  </div>
</div>