{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}

{% block body %}
  {% block navlinks %}
  <ul class="nav nav-tabs">
    <li>
        <a href="{{ return_url }}">{{ _gettext('List') }}</a>
    </li>
    {%- if admin_view.can_create -%}
    <li>
        <a href="{{ get_url('.create_view', url=return_url) }}">{{ _gettext('Create') }}</a>
    </li>
    {%- endif -%}
    {%- if admin_view.can_edit -%}
    <li>
        <a href="{{ get_url('.edit_view', id=request.args.get('id'), url=return_url) }}">{{ _gettext('Edit') }}</a>
    </li>
    {%- endif -%}
    <li class="active">
        <a href="javascript:void(0)">{{ _gettext('Details') }}</a>
    </li>
  </ul>
  {% endblock %}

  <div class="row">

  {% block details_search %}
    <br>
    <div class="col-sm-12">
      <div class="input-group fa_filter_container col-lg-6">
        <span class="input-group-addon">{{ _gettext('Filter') }}</span>
        <input id="fa_filter" type="text" class="form-control">
      </div>
    </div>
  {% endblock %}

  </div>

  <div class="row">

  {% block details_table %}
    <br>
    <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#vehicle_and_leasing" data-toggle="tab">Vehicle and Leasing</a>
      </li>
      <li>
        <a href="#assignment_info" data-toggle="tab">Assignment History</a>
      </li>
      <li>
        <a href="#repairs_maintenance" data-toggle="tab">Repairs and Maintenance</a>
      </li>
      <li>
        <a href="#pm_schedule" data-toggle="tab">PM Schedule</a>
      </li>
    </ul>
    <h3 class="pull-left">
      {{ model.year }} {{ model.make_model }}
      Plate No - {{ model.plate_no }}
      CS No - {{ model.cs_no }}
      (<a target="_blank" href="{{ url_for('employees.details_view', id=model.primary_assignee.id) }}">{{ model.primary_assignee.name }}</a>)
    </h3>
    <br>
    <div class="pull-right">
      <a target="_blank" href="{{ url_for('main.print_vehicle_details', vehicle=model.id) }}" class="btn btn-lg btn-primary">
        Print Vehicle Details
      </a>
    </div>
  </div>

    <div class="tab-content">
      <div class="tab-pane active" id="vehicle_and_leasing">
        <div class="col-sm-6">
          <br>
          <table class="table table-hover table-bordered table-striped table-condensed searchable">
            <tr>
              <th colspan="2" class="info">Vehicle Information</th>
            </tr>
            <tr>
              <td class="col-md-3 text-right">Conduction Sticker</td>
              <td>{{ model.cs_no }}</td>
            </tr>
            <tr>
              <td class="col-md-3 text-right">Plate Number</td>
              <td>{{ model.plate_no }}</td>
            </tr>
            <tr>
              <td class="col-md-3 text-right">Sticker Number</td>
              <td>{{ model.sticker_no }}</td>
            </tr>
            <tr>
              <td class="col-md-4 text-right">Color / Year / Make and Model / Fuel Type</td>
              <td>{{ model.color }} {{ model.year }} {{ model.make_model }} {{ model.fuel }}</td>
            </tr>
            <tr>
              <td class="col-md-4 text-right">Engine Number</td>
              <td>{{ model.engine_no }}</td>
            </tr>
            <tr>
              <td class="col-md-4 text-right">Chassis Number</td>
              <td>{{ model.chassis_no }}</td>
            </tr>
            <tr>
              <td class="col-md-4 text-right">LTO MV File Number</td>
              <td>{{ model.lto_mv_file_no }}</td>
            </tr>
            <tr class="info">
              <td colspan="2"><strong>Insurance Details </strong></td>
            </tr>
            <tr>
              <td class="col-md-4 text-right">OAC Policy Number</td>
              <td>{{ model.oac_policy_no }}</td>
            </tr>
            <tr>
              <td class="col-md-4 text-right">Effectivity Period (FOR INSURANCE)</td>
              <td>{{ model.effectivity_period_start|date_format }} TO {{ model.effectivity_period_end|date_format }}</td>
            </tr>
            {% for insurance in model.insurance_record %}
            <tr>
              <td class="col-md-4 text-right">{{ insurance.insurance_type }}</td>
              <td>
                  {{ insurance.amount|money }}
              </td>
            </tr>
            {% endfor %}
            <tr class="info">
              <td colspan="2"><strong>Status</strong></td>
            </tr>
            <tr>
              <td class="col-md-4 text-right">Status</td>
              <td>{{ model.status }}</td>
            </tr>
            <tr>
              <td class="col-md-4 text-right">Date Disposed</td>
              <td>{{ model.date_disposed|date_format }}</td>
            </tr>
            <tr class="info">
              <td colspan="2"><strong>Fuel Card</strong></td>
            </tr>
            <tr>
              <td class="col-md-4 text-right">Shell Fleet Card Number</td>
              <td>{{ model.shell_fleet_card }}</td>
            </tr>
            <tr>
              <td class="col-md-4 text-right">Credit Limit</td>
              <td>{{ model.credit_limit|money(False) }}</td>
            </tr>
            <tr class="info">
              <td colspan="2"><strong>Miscellaneous</strong></td>
            </tr>
            <tr>
              <td class="col-md-4 text-right">Dealer</td>
              <td>
                {% if model.dealer %}
                <a href="{{ url_for('dealers.details_view') }}">
                  {{ model.dealer }}
                </a>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td class="col-md-4 text-right">Remarks</td>
              <td>{{ model.remarks }}</td>
            </tr>
          </table>
        </div>
        <div class="col-sm-6">
          <br>
          <table class="table table-hover table-bordered table-striped searchable table-condensed">
            <tr>
              <th colspan="2" class="info">Leasing Information</th>
            </tr>
            <tr>
              <td class="col-md-4 text-right">Leasing Company</td>
              <td>{{ model.leasing_company }}</td>
            </tr>
            <tr>
              <td class="col-md-4 text-right">Contract Type</td>
              <td>{{ model.contract_type }}</td>
            </tr>
            <tr>
              <td class="col-md-4 text-right">Acquisition Cost</td>
              <td>{{ model.acquisition_cost|money(False) }}</td>
            </tr>
            {% for item in model.leasing_information %}
            <tr>
              <td colspan="2" class="text-center warning">
                {% if item.is_primary %}
                  Primary Lease
                {% else %}
                  Secondary Lease
                {% endif %}
              </td>
            </tr>
            <tr>
              <td class="col-md-4 text-right">Lease Account number</td>
              <td>{{ item.lease_account_no }}</td>
            </tr>
            <tr>
              <td class="col-md-4 text-right">Lease Term</td>
              <td>{{ item.lease_term }} months</td>
            </tr>
            <tr>
              <td class="col-md-4 text-right">Contract Start / End</td>
              <td>{{ item.contract_start|date_format }} TO {{ item.contract_end|date_format }}</td>
            </tr>
            <tr>
              <td class="col-md-4 text-right">Monthly Rental</td>
              <td>{{ item.monthly_rental|money }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      <div class="tab-pane" id="assignment_info">
        <div class="col-sm-12">
          <br>

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for assignee in model.assignments %}
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{assignee.employee.id}}" aria-expanded="false" aria-controls="collapse{{assignee.employee.id}}">
                    {{ assignee.employee }}
                    <span class="pull-right">
                      FROM {{ assignee.assigned_start}} TO
                      {% if assignee.assigned_end %}
                      {{ assignee.assigned_end }}
                      {% else %}
                        -
                      {% endif %}
                      {{ assignee.tot_fringe }}
                    </span>
                  </a>
                </h4>
              </div>
              <div id="collapse{{assignee.employee.id}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <table class="table table-bordered table-hover table-striped table condensed searchable">
                        <tr>
                          <td colspan="7" class="info">Incident History</td>
                        </tr>
                        {% if assignee.assignment_incidences %}
                        <tr>
                          <th>Fleet Incident ID</th>
                          <th>Date</th>
                          <th>Accident Classification</th>
                          <th>Location</th>
                          <th>Damaged Portion</th>
                          <th>LOA</th>
                          <th>Is Claimable?</th>
                        </tr>
                        {% endif %}
                        {% for incident in assignee.assignment_incidences %}
                        <tr>
                          <td>
                            <a href="{{ url_for('incidences.details_view', id=incident.id) }}" target="_blank">
                              {{ incident.fleet_incident_id }}
                            </a>
                          </td>
                          <td>{{ incident.date|date_format }}</td>
                          <td>{{ incident.accident_nature }}</td>
                          <td>{{ incident.location }}</td>
                          <td>{{ incident.damaged_portion }}</td>
                          <td>{{ incident.loa }}</td>
                          <td>{{ incident.is_claimable or '' }}</td>
                        </tr>
                        {% endfor %}
                      </table>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="tab-pane" id="repairs_maintenance">
        <div class="col-sm-12">
          <br>
          <table class="table table-hover table-bordered table-striped table-condensed searchable">
            <thead>
              <tr class="info">
                <th>Requested By</th>
                <th>Date Serviced</th>
                <th>Repair Types</th>
                <th>Activity / Concern</th>
                <th>Cost Estimate</th>
                <th>Actual Amount</th>
                <th>Dealer</th>
                <th>Invoice Number</th>
                <th>Odometer Reading</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
            {% for rm in model.ordered_rm %}
              <tr>
                <td>{{ rm.employee.name }}</td>
                <td>{{ rm.date_requested or '' }}</td>
                <td>{{ rm.repair_types|join(',') }}</td>
                <td>{{ rm.activity_concern }}</td>
                <td>{{ rm.cost_estimate|money(True) }}</td>
                <td>{{ rm.actual_amount|money(True) }}</td>
                <td>{{ rm.dealer.name }}</td>
                <td>{{ rm.invoice_no }}</td>
                <td>{{ rm.km_reading or '' }}</td>
                <td>{{ rm.remarks or '' }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane" id="pm_schedule">
        <div class="col-sm-12">
          <br>
          {% if model.pm_schedule %}
          <table class="table table-hover table-bordered table-striped table-condensed searchable">
            <tbody>
              <tr>
                <td class="col-sm-2 text-right">Unit</td>
                <td>{{ model.pm_schedule.details.unit }}</td>
              </tr>
              <tr>
                <td class="col-sm-2 text-right">First PM (in KMs)</td>
                <td>{{ model.notifications.first_pm_due|date_format }}</td>
              </tr>
              <tr>
                <td class="col-sm-2 text-right">Notification Interval</td>
                <td>every {{ model.pm_schedule.details.interval }} months</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-hover table-bordered table-striped table-condensed searchable">
            <tbody>
              <tr>
                <td class="col-sm-2 text-right">Succeeding PM (first reminder)</td>
                <td>{{ model.pms.first_pm|date_format }}</td>
              </tr>
              <tr>
                <td class="col-sm-2 text-right">Succeeding PM (second reminder)</td>
                <td>{{ model.pms.second_pm|date_format }}</td>
              </tr>
              <tr>
                <td class="col-sm-2 text-right">Succeeding PM (third reminder)</td>
                <td>{{ model.pms.third_pm|date_format }}</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-hover table-bordered table-striped table-condensed searchable">
            <tbody>
              <tr>
                <td class="col-sm-1 text-right">Last PM Record</td>
                <td>
                  {% if model.last_pm %}
                  <a target="_blank" href="{{ url_for('repairs-maintenance.edit_view', id=model.last_pm.id) }}">
                    {{ model.last_pm.activity_concern }} ({{ model.last_pm.date_requested|date_format }})
                  </a>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td class="col-sm-1 text-right">Next PM Schedule (Notification)</td>
                <td>{{ model.next_pm|date_format }}</td>
              </tr>
            </tbody>
          </table>
          {% endif %}
        </div>
      </div>
    </div>

  {% endblock %}
{% endblock %}

{% block tail %}
  {{ super() }}
  <script src="{{ admin_static.url(filename='admin/js/details_filter.js', v='1.0.0') }}"></script>
{% endblock %}
