<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/styles.css') }}">
<style>
    * {
        font-size: 10px;
    }
    tr, td {
        padding: 0;
        margin: 0;
    }
    .text-right {
        font-weight: bold;
    }

    @page {
      size: Letter;
    }

</style>
<div class="row">
  <div class="col-sm-6">
    <br>
    <table class="table table-hover table-bordered table-striped table-condensed searchable">
      <tr>
        <th colspan="2" class="info text-center">Vehicle Information</th>
      </tr>
      <tr>
        <td class="col-md-3 text-right">CS Number / Plate Number / Sticker Number</td>
        <td>{{ model.cs_no }} / {{ model.plate_no }} / {{ model.sticker_no }}</td>
      </tr>
      <tr>
        <td class="col-md-4 text-right">Color / Year / Make and Model / Fuel Type</td>
        <td>{{ model.color }} {{ model.year }} {{ model.make_model }} {{ model.fuel }}</td>
      </tr>
      <tr>
        <td class="col-md-4 text-right">Engine Number / Chassis Number</td>
        <td>{{ model.engine_no }} / {{ model.chassis_no }}</td>
      </tr>
      <tr>
        <td class="col-md-4 text-right">LTO MV File Number</td>
        <td>{{ model.lto_mv_file_no }}</td>
      </tr>
      <tr class="info">
        <td class="text-center" colspan="2"><strong>Insurance Details </strong></td>
      </tr>
      <tr>
        <td class="col-md-4 text-right">OAC Policy Number</td>
        <td>{{ model.oac_policy_no }}</td>
      </tr>
      <tr>
        <td class="col-md-4 text-right">Effectivity Period (FOR INSURANCE)</td>
        <td>{{ model.effectivity_period_start|date_format }} TO {{ model.effectivity_period_end|date_format }}</td>
      </tr>
      {% for insurance in model.insurance_record %}
      <tr>
        <td class="col-md-4 text-right">{{ insurance.insurance_type }}</td>
        <td>
            {{ insurance.amount|money }}
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td class="col-md-4 text-right">Status</td>
        <td>
            {{ model.status }}
            {% if model.status == 'DISPOSED' %}
                Disposed at {{ model.date_disposed|date_format }}
            {% endif %}
        </td>
      </tr>
      <tr class="info">
        <td class="text-center" colspan="2"><strong>Fuel Card</strong></td>
      </tr>
      <tr>
        <td class="col-md-4 text-right">Shell Fleet Card Number</td>
        <td>{{ model.shell_fleet_card }}</td>
      </tr>
      <tr>
        <td class="col-md-4 text-right">Credit Limit</td>
        <td>{{ model.credit_limit|money(False) }}</td>
      </tr>
      <tr class="info">
        <td class="text-center" colspan="2"><strong>Miscellaneous</strong></td>
      </tr>
      <tr>
        <td class="col-md-4 text-right">Dealer</td>
        <td>
          {% if model.dealer %}
          <a href="{{ url_for('dealers.details_view') }}">
            {{ model.dealer }}
          </a>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td class="col-md-4 text-right">Remarks</td>
        <td>{{ model.remarks }}</td>
      </tr>
    </table>
  </div>
  <div class="col-sm-6">
    <br>
    <table class="table table-hover table-bordered table-striped searchable table-condensed">
      <tr>
        <th class="text-center" colspan="2" class="info">Leasing Information</th>
      </tr>
      <tr>
        <td class="col-md-4 text-right">Leasing Company</td>
        <td>{{ model.leasing_company }}</td>
      </tr>
      <tr>
        <td class="col-md-4 text-right">Contract Type</td>
        <td>{{ model.contract_type }}</td>
      </tr>
      <tr>
        <td class="col-md-4 text-right">Acquisition Cost</td>
        <td>{{ model.acquisition_cost|money(False) }}</td>
      </tr>
      {% for item in model.leasing_information %}
      <tr>
        <td colspan="2" class="text-center warning">
          {% if item.is_primary %}
            Primary Lease
          {% else %}
            Secondary Lease
          {% endif %}
        </td>
      </tr>
      <tr>
        <td class="col-md-4 text-right">Lease Account number</td>
        <td>{{ item.lease_account_no }}</td>
      </tr>
      <tr>
        <td class="col-md-4 text-right">Lease Term</td>
        <td>{{ item.lease_term }} months</td>
      </tr>
      <tr>
        <td class="col-md-4 text-right">Contract Start / End</td>
        <td>{{ item.contract_start|date_format }} TO {{ item.contract_end|date_format }}</td>
      </tr>
      <tr>
        <td class="col-md-4 text-right">Monthly Rental</td>
        <td>{{ item.monthly_rental|money }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-sm-6">
    <br>
    <table class="table table-hover table-bordered table-striped searchable table-condensed">
      <tr class="text-center">
        <th class="text-center" colspan="3" class="info">Assignment History</th>
      </tr>
      <tr>
        <th>Employee Name</th>
        <th>Assignment Period</th>
        <th>TOT/Fringe Benefit</th>
      </tr>
      {% for assignee in model.assignments %}
      <tr>
        <td>{{ assignee.employee }}</td>
        <td>
          {{ assignee.assigned_start|date_format}}
          {% if assignee.assigned_end %}
           TO{{ assignee.assigned_end|date_format }}
           {% endif %}
        </td>
        <td>{{ assignee.tot_fringe }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
