<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='dist/images/favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/styles.css') }}">
  <title>CIC - Fleet Management System</title>
</head>
<body>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          {{ recipients }}
        </div>
        <div class="col-sm-12">
            {{ message_body|safe }}
        </div>
        <div class="col-sm-12">
          <img src="{{ poster }}" alt="">
        </div>
      </div>
    </div>

    {% block scripts %}
    <script src="{{ url_for('static', filename='dist/js/app.min.js') }}"></script>
    {% endblock %}

</body>
</html>
