{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}

{% block body %}
  {% block navlinks %}
  <ul class="nav nav-tabs">
    <li>
        <a href="{{ return_url }}">{{ _gettext('List') }}</a>
    </li>
    {%- if admin_view.can_create -%}
    <li>
        <a href="{{ get_url('.create_view', url=return_url) }}">{{ _gettext('Create') }}</a>
    </li>
    {%- endif -%}
    {%- if admin_view.can_edit -%}
    <li>
        <a href="{{ get_url('.edit_view', id=request.args.get('id'), url=return_url) }}">{{ _gettext('Edit') }}</a>
    </li>
    {%- endif -%}
    <li class="active">
        <a href="javascript:void(0)">{{ _gettext('Details') }}</a>
    </li>
  </ul>
  {% endblock %}

  {% block details_search %}

  {% endblock %}

  {% block details_table %}
    <div class="col-sm-12">
      <h3>
        <a target="_blank" href="{{ url_for('employees.details_view', id=model.employee.id) }}">{{ model.employee }}</a>
      </h3>
    </div>
    <br>
    <div class="col-sm-12 col-md-6">
      <table class="table table-hover table-bordered table-striped table-condensed searchable">
        <tr>
          <th colspan="2" class="info">Repairs and Maintenance Record</th>
        </tr>
        <tr>
          <td class="col-md-3 text-right">Invoice No</td>
          <td>{{ model.invoice_no }}</td>
        </tr>
        <tr>
          <td class="col-md-3 text-right">Vehicle</td>
          <td>{{ model.vehicle }}</td>
        </tr>
        <tr>
          <td class="col-md-3 text-right">Repair Types</td>
          <td>
            <ul style="list-style: none;">
            {% for item in model.repair_types %}
              <li>{{ item }}</li>
            {% endfor %}
            </ul>
          </td>
        </tr>
        <tr>
          <td class="col-md-3 text-right">Date Serviced</td>
          <td>{{ model.date_serviced|date_format }}</td>
        </tr>
        <tr>
          <td class="col-md-3 text-right">Activity/Concern</td>
          <td>{{ model.activity_concern }}</td>
        </tr>
        <tr>
          <td class="col-md-3 text-right">Cost Estimate</td>
          <td>{{ model.cost_estimate|money }}</td>
        </tr>
        <tr>
          <td class="col-md-3 text-right">Actual Amount</td>
          <td>{{ model.actual_amount|money }}</td>
        </tr>
        <tr>
          <td class="col-md-3 text-right">Dealer</td>
          <td>{{ model.dealer }}</td>
        </tr>
        <tr>
          <td class="col-md-3 text-right">Odometer Reading</td>
          <td>{{ model.km_reading }}</td>
        </tr>
        <tr>
          <td class="col-md-3 text-right">Remarks</td>
          <td>{{ model.remarks }}</td>
        </tr>
      </table>
    </div>
  {% endblock %}
{% endblock %}

{% block tail %}
  {{ super() }}
  <script src="{{ admin_static.url(filename='admin/js/details_filter.js', v='1.0.0') }}"></script>
{% endblock %}
