<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='dist/images/favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/styles.css') }}">
  <title>CIC - Fleet Management System</title>
</head>
<body>

  <div class="wrapper">
    {% include "_partials/_sidebar.html" %}
    <div class="main-panel">
      
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ message }}
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                {% block main_content %}  
                {% endblock %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% block scripts %}
  <script src="{{ url_for('static', filename='dist/js/app.min.js') }}"></script>
  {% endblock %}
  
</body>
</html>